@font-face {
  font-family: BlackHawk;
  src: url("../assets/fonts/BlackHawk.otf");
}

@font-face {
  font-family: RoadRage;
  src: url("../assets/fonts/RoadRage.ttf");
}

:root {
  /* Colors */
  --main-color: #0a0a0a;
  --accent-color: #510704;
  --light-color: #fdf4f5;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* ===== Scrollbar CSS ===== */
/* Firefox */
* {
  scrollbar-width: auto;
  scrollbar-color: #510704 #0a0a0a;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 16px;
}

*::-webkit-scrollbar-track {
  background: #0a0a0a;
}

*::-webkit-scrollbar-thumb {
  background-color: #510704;
  border-radius: 10px;
  border: 3px solid #ffffff;
}
