.Home {
  background-color: var(--main-color);
  min-height: 100vh;
  overflow: hidden;
}
::selection {
  background-color: var(--accent-color);
}
.trailerPlayer {
  display: flex;
  justify-content: center;
  margin: 2rem 4rem;
}
.trailerPlayer video {
  height: 100%;
  width: 100%;
  border-radius: 0.5rem;
}
