.Home {
  background-color: var(--main-color);
  min-height: 100vh;
  overflow: hidden;
}
::selection {
  background-color: var(--accent-color);
}
.homeTrailer {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
}
